
<main class="container d-flex justify-content-center aling-items-center">
    <div  class="d-flex  justify-content-center aling-items-center flex-column text-center">
    
        <h1 style="color: rgb(59, 70, 235);">Food-At-My-Hood</h1>
        <h1 class="mt-2">Welcome to our Bhojanalay</h1>
        <p>We don't sell the food , We sell Emotions</p>
        <p>Lets Feel the Home Together</p>
        <button type="button" class="btn btn-primary " routerLink="/login">Order Now</button>
    </div>

</main>