<section class="breakfast">
    <!-- <img src="../../assets/breakfast.jfif" > -->
    <div class="text-center"><br>
        <h2> Dinner Menu</h2>
    </div><br><br>
    <div > 
    <div class ="menu-wrapper" *ngFor="let b of dinneritems" >
       <div class="breakfast menu-restaurant" style="padding: 2%;border: 1px solid grey;border-radius: 5px; margin: auto;"> 
        <span  style="float: right;"><img src={{b.img}} height="190px"width="150px"></span>
        <span class="menu-title" >{{b.itemname}}</span>  <br><br> 
        <span style="display: block; margin-right: 10px;"> {{b.aboutitem}}</span> <br>
        <span class="menu-price" style="display: block;"></span>Rs.{{b.price}}  <br><br>
        <button class="btn btn-outline-success" style="border: 1px orange;background-color: orange;border-radius: 2px; ">Add Item to Cart</button>
       </div>
    </div>
    </div>
     
     
</section>
