<div class="container shadow">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="text-center">
          <h1>Restaurant Signup</h1>
          <h5> Get free Membership</h5>
          <hr>
        </div>
        <form>
          <div class="alert alert-success" *ngIf="success"> Signup is Successful. Try Login.</div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" name="name" [(ngModel)]="customer.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label class="form-label">Mobile Number</label>
            <input type="number" name="mobileNumber" [(ngModel)]="customer.mobileNumber" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="customer.email" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" [(ngModel)]="customer.password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
            <label class="form-check-label" for="exampleCheck1">Please accept terms and CondiTions</label>
          </div>
          <button type="submit" class="btn btn-primary" (click)="signup()">Signup</button>
        </form>
        <a class="mt-2" routerLink="/login">AlreadyMember ? Click to login</a>
      </div>
    </div>
  </div>
</div>