<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="homeimg" style="padding-right: 80%;color: aliceblue; ">Food Items</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button class="btn btn-outline-success ml-auto" type="submit" style="margin: 2%;"
      >Cart Items</button>       
    </div>
  </div>
</nav>
<app-list-of-menu-items></app-list-of-menu-items>

<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia fugiat, nisi non ad, corrupti tempore vitae pariatur accusamus hic placeat labore esse deleniti eius omnis maiores saepe, eos voluptatem amet.</p> -->
 